@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .container {
    @apply min-h-screen max-w-screen-md mx-auto px-8 pt-20;
  }

  .btn-style {
    @apply border-2 border-black w-12 flex justify-center items-center text-2xl rounded-md hover:border-gray-400 hover:text-gray-400;
  }
}

@font-face {
  font-family: "Cafe24Ssurround";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24Ssurround.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

.font-cafe24 {
  font-family: "Cafe24Surround";
}
